<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Advance", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>'/>
    <script defer phx-track-static type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </head>
  <body class="flex flex-col h-full pt-0 bg-gray-100">

    <!-- This example requires Tailwind CSS v2.0+ -->
    <nav class="bg-white shadow" x-data="{ isOn: false }">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8" >
        <div class="relative flex items-center justify-between h-16" >
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden" >
              <!-- Mobile menu button-->
              <button @click="isOn = !isOn" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-expanded="false" @click="open = true">
                <span class="sr-only">Open main menu</span>
                <!-- Icon when menu is closed. -->
                <!--
                  Heroicon name: menu
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg :class="{'block': !isOn, 'hidden': isOn }" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <!-- Icon when menu is open. -->
                <!--
                  Heroicon name: x
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg :class="{'block': isOn, 'hidden': !isOn }" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="sm:mr-16">
              <a href="/" title="Advance Home Page" class="font-bold items-center text-2xl text-red-600">
                Advance
              </a>
            </div>
            <%= if @current_user && @current_user.role === :admin do %>
              <!-- admin menu -->
              <div class="hidden sm:block sm:ml-6 sm:flex sm:flex-1 sm:flex-grow sm:flex-row-reverse" >
                <%= render "_admin_menu.html", assigns %>
              </div>
            <% end %>
          </div>
          <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            <!-- user profile menu -->
            <%= render "_user_menu.html", assigns %>
          </div>
        </div>
      </div>

      <!--
        Mobile menu, toggle classes based on menu state.
        Menu open: "block", Menu closed: "hidden"
      -->
      <div :class="{'hidden': !isOn}" class="sm:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <%= if @current_user do %>
            <%= if @current_user.role === :admin do %> 
              <%= link "Categories", to: Routes.category_index_path(@conn, :index), class: "text-gray-500 block hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
            <%= if @current_user.role === :admin do %> 
              <%= link "Tags", to: Routes.category_index_path(@conn, :index), class: "text-gray-500 block hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
            <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
              <%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home), class: "block text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
          <% else %>
            <%= link gettext("Log in"), to: Routes.user_session_path(@conn, :new), class: "text-gray-500 block hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <%= link gettext("Register"), to: Routes.user_registration_path(@conn, :new), class: "text-gray-500 block hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>
          <% end %>
        </div>
      </div>

    </nav>

  </div>

    <%= @inner_content %>
  </body>
</html>
